<%- include('partials/header') -%>
<%- include('partials/navbarlogin') -%>

<div class="container mt-3 mb-5">
	<div class="row">
        <div class="col-md-6">
            <div class="card card-custom">
                <div class="card-body text-light">
                    <h3 class="card-title">Frequently asked questions</h3>
                    <p class="card-text">
                        <span class="font-weight-bold">Q:</span> Why do I get an installation error?<br>
                        <span class="font-weight-bold">A:</span> It is probably due to your operation system, ArmadaCollector doesn't support 32 bit OS's
                        <br><br>
                        <span class="font-weight-bold">Q:</span> It didn't create a shortcut after installation?<br>
                        <span class="font-weight-bold">A:</span> It is a bug which happens on Win7, you can create it from the installation folder.
                        <br><br>
                        <span class="font-weight-bold">Q:</span> While installing ArmadaCollector, my antivirus alerts me about it<br>
                        <span class="font-weight-bold">A:</span> ArmadaCollector is not a virus, some antivirus programs may detect it as a virus due to the code obfuscation.
                    </p>
                </div>
            </div>
        </div>
	</div>
</div>
<%- include('partials/footer') -%>
