<%- include('partials/header') -%>
<%- include('partials/navbarlogin') -%>
<div class="vertical-center"> 
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-custom">
          <div class="card-body text-light">
              <h3 class="card-title text-primary">Pay via bank transfer</h3>
              <p class="card-text">
                  <h5>
                      Name: <small>abdullah akçam<br></small>
                      Bank code (SWIFT/BIC): <small>TRWIBEB1XXX<br></small>
                      IBAN: <small>BE14 9671 1319 1383<br></small>
                      ADDRESS: <small>TransferWise Europe SA
                          Avenue Marnix 13-17
                          Brussels
                          1000
                          Belgium<br></small>
                  </h5>
              </p>
          </div>
      </div>
  </div>
  <br>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card card-custom" style="width: 18rem;">
        <div class="card-body text-center text-light">
          <h3 class="card-title">€10<span class="period">/ 30 days</span></h3>
          <p class="card-text">• Improve your game experience by automating your game with ArmadaCollector</p>
          <p class="card-text">• Discord premium support</p>
          <p class="card-text">• Discord premium role</p>
          <a href="https://www.blockonomics.co/pay-url/1c0439c8b3d911ea" class="btn button-custom btn-block">Buy with BTC</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card card-custom" style="width: 18rem;">
        <div class="card-body text-center text-light">
          <h3 class="card-title">€25<span class="period">/ 90 days</span></h3>
          <p class="card-text">• Improve your game experience by automating your game with ArmadaCollector</p>
          <p class="card-text">• Discord premium support</p>
          <p class="card-text">• Discord premium role</p>
          <a href="https://www.blockonomics.co/pay-url/45088a40b58711ea" class="btn button-custom btn-block">Buy with BTC</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%- include('partials/footer') -%>