<%- include('partials/header') -%>
<%- include('partials/navbarlogin') -%>
<div class="vertical-center"> 
<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card card-custom" style="width: 18rem;">
        <div class="card-body text-center text-light">
          <h3 class="card-title">€10<span class="period">/ 30 days</span></h3>
          <p class="card-text">• Improve your game experience by automating your game with ArmadaCollector</p>
          <p class="card-text">• Discord premium support</p>
          <p class="card-text">• Discord premium role</p>
          <a href="https://www.blockonomics.co/pay-url/1c0439c8b3d911ea" class="btn button-custom btn-block">Buy</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card card-custom" style="width: 18rem;">
        <div class="card-body text-center text-light">
          <h3 class="card-title">€20<span class="period">/ 90 days</span></h3>
          <p class="card-text">• Improve your game experience by automating your game with ArmadaCollector</p>
          <p class="card-text">• Discord premium support</p>
          <p class="card-text">• Discord premium role</p>
          <a href="https://www.blockonomics.co/pay-url/45088a40b58711ea" class="btn button-custom btn-block">Buy</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card card-custom" style="width: 18rem;">
        <div class="card-body text-center text-light">
          <h3 class="card-title">€60<span class="period">/ year</span></h3>
          <p class="card-text">• Improve your game experience by automating your game with ArmadaCollector</p>
          <p class="card-text">• Discord premium support</p>
          <p class="card-text">• Discord premium role</p>
          <a href="https://www.blockonomics.co/pay-url/706241feb58711ea" class="btn button-custom btn-block">Buy</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%- include('partials/footer') -%>